<%= form_for(@rk_scaffold) do |f| %>
  <% if @rk_scaffold.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rk_scaffold.errors.count, "error") %> prohibited this rk_scaffold from being saved:</h2>

      <ul>
      <% @rk_scaffold.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
